*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --text: #4f4838;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  background-image: url('immagini/carta.jpg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 150px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  cursor: default;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.navbar {
  background-color: #e2d9cd;
  width: 100%;
  padding: 18px clamp(15px, 4vw, 48px); 
  position: sticky; 
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: flex-end; 
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: clamp(60px, 2.5vw, 100px); 
  flex-wrap: nowrap; 
}

.nav-item a {
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-size: 1.3rem; 
  transition: color 0.2s ease;
  font-family: "cormorant-garamond", serif;
  white-space: nowrap; 
}

.nav-item a:hover {
  color: #8f3b56; 
}

@media (max-width: 600px) {
  .nav-container {
    justify-content: center;
  }
}

/* indietro freccia */
.back-btn {
  position: fixed;
  top: 65px;
  left: 30px;
  z-index: 2000;
  color: var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

.back-btn:hover {
  transform: translateX(-5px);
  color: #8f3b56;
}

@media (max-width: 600px) {
  .back-btn {
    top: 15px;
    left: 15px;
  }
  .back-btn svg {
    width: 30px;
    height: 30px;
  }
}

/* manina !! :D */
.menu, .menu-item, .back-btn, .nav-item a {
  cursor: pointer; 
}



